body {
	background-color: white;
}

#btn-login {
	position: absolute;
	top: 0;
	right: 0.5vw;
}

#btn-login p a {
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 1.2vw;
}

#btn-login p a:hover {
	text-decoration: underline;
}

#header {
	position: absolute;
	top: 1vw;
	left: 43vw;
}

#div-form {
	position: absolute;
	top: 15vw;
	left: 37vw;
	padding: 5vw;
	border-radius: 25px;
	background-color: rgba(0,0,0,0.8);
}

.social-icon {
	color: white;
	position: relative;
	right: -2vw;
}

#fb {
	border-radius: 25px;
	color: white;
	width: 15vw;
	height: 3vw;
	font-weight: bold;
	background-color: rgb(49, 77, 136);
}

#mobile {
	border-radius: 25px;
	color: white;
	width: 15vw;
	height: 3vw;
	font-weight: bold;
	background-color: green;
}

#fb:hover,#mobile:hover {
	background-color: #3e8e41;
}

.btn-email {
	border: 2px solid grey;
	border-radius: 25px;
	background-color: white;
	font-weight: bold;
	color: grey;
	width: 15vw;
	height: 3vw;
}

.btn-email:hover {
	color: white;
	font-weight: bold;
	background-color: #3e8e41;
}